
		<table cellspacing="5" cellpadding="5">
			<thead>
				<tr>
					<th>NAME</th>
					<th>DESCRIPTION</th>
					<th>DAY</th>
					<th>TIME</th>
					<th>LOCATION</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="class in classes">
					<td>{{class.name}}</td>
					<td>{{class.description}}</td>
					<td>{{class.day}}</td>
					<td width="150">{{class.time}}</td>
					<td>{{class.location.address}}, {{class.location.suburb}}, {{class.location.city}}, {{class.location.province}}</td>
				</tr>
			</tbody>
		</table>
		<h4>Class Costs</h4>
		<table cellspacing="5" cellpadding="5">
			<thead>
				<tr>
					<th>ONE CLASS PER WEEK</th>
					<th>TWO CLASSES PER WEEK</th>
					<th>DROP-IN CLASS</th>
					<th>PRIVATE CLASS</th>
				</tr>
			</thead>
			<tbody>
				<tr>					
					<td>R300 per month</td>	
					<td>R500 per month</td>		
					<td>R90</td>			
					<td>R250 for 1.5 hours</td>
				</tr>
			</tbody>
		</table>